body{
  margin:0;

}
.cont
h1{
  color:white;
  text-align: center;
  font-size: 48px;
  font-family: 'Dosis', sans-serif;

}
.header {
  position: relative;
  height:850px;
  overflow: hidden;
  background-image:  url("bg.png");
  repeat:no-repeat;
  background-position: center;
  background-size: cover;
  color:white;
  margin:auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.container{
  position: absolute;
  top: 20%;
  overflow: hidden;
  text-align: center;
}
.title{
  font-family: 'Dosis', sans-serif;
  color:white;
  font-size: 60px;
  text-shadow: 4px 0 0 #2cc7b8, -4px 0 0 #2cc7b8, 0 4px 0 #2cc7b8, 0 -4px 0 #2cc7b8, 2px 2px #2cc7b8, -2px -2px 0 #2cc7b8, 2px -2px 0 #2cc7b8, -2px 2px 0 #2cc7b8;
}
.content{
  background-image: linear-gradient(rgb(0,35,65), rgb(5,61,80));
  margin:auto;
  padding-top:.1%;
}
.headline{
  text-align: center;
  font-size: 48px;
  color: rgb(44,199,184);
  font-family: 'Dosis', sans-serif;
  margin:.5%;
}

.argument{
  font-family: 'Lato', sans-serif;
  text-align:left;
  color:white;
  margin: 3% 10%;
  line-height: 160%;
}

/*LMAO WELCOME TO FLIP CARD HELL */
.cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 6%;
  margin-right: 6%;
  margin-top:3%;

}
/* The flip card container - set the width and height to whatever you want.
We have added the border property to demonstrate that the flip itself goes
out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
 background-color: transparent;
 width: 180px;
 height: 230px;
 perspective: 1000px; /* Remove this if you don't want the 3D effect */
 border-radius: 8px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
 border-radius: 8px;
 position: relative;
 width: 100%;
 height: 100%;
 text-align: center;
 transition: transform 0.9s;
 transform-style: preserve-3d;
 border-radius: 8px;
 box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 8px;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
 transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
 position: absolute;
 width: 100%;
 height: 100%;
 backface-visibility: hidden;
 box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 8px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
 background-color: white;
 color: rgb(0,35,65);
 font-family: 'Dosis', sans-serif;
 font-size: 20px;
 border-radius:8px;
 text-align: center;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.flip-card-front img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

/* Style the back side */
.flip-card-back {
 background-color: white;
 color: blue;
 transform: rotateY(180deg);
 border-radius: 8px;
}

.flip-card-back h4{
  margin: 5% 5%;
  padding-bottom: 3%;
  border-bottom: 3px solid rgb(44,199,184);
  text-align: left;
  color: rgb(44,199,184);
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
}

.flip-card-back p{
  margin: 6% 6%;
  text-align: left;
  color: rgb(44, 44, 46);
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  line-height: 135%;
}

.flip-card-back a{
  margin: 6% 6%;
  text-align: left;
  color: rgb(44,199,184);
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  line-height: 130%;
}
.inside-card-back{
  overflow-y: scroll;
  width:95%;
  height:60%;
}
